body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
  font-family: 'logoFont';
  font-size: 40px;
  padding-left: 30px;
}

#active {
  color: rgb(161, 161, 0);
}

.navBar {
  float: right;
}

.navBar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-right: 60px;
}

.navBar li {
  display: inline-block;
  margin-left: 20px;
}

.navBar a {
  text-decoration: none;
  color: white;
  padding: 14px 16px;
  transition: color 0.5s;
  font-size: 30px;
}

.navBar a:hover {
  color: yellow;
  transition: color 1s;
}

@font-face {
  font-family: 'logoFont';
  src: url('fonts/ShortBaby-Mg2w.ttf') format('truetype'); /* Replace with the actual path to your font file */
}