/* Reset default list styles for the navigation bar */
.navBar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Style for navigation bar links */
.navBar a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 14px 16px;
  transition: color 0.5s;
}

/* Background color for the body */
body {
  background-color: black;
}

/* Style for the active link */
#active {
  color: yellow;
}

/* Hover effect for navigation bar links */
.navBar a:hover {
  color: yellow;
  transition: color 1s;
}

/* Display navigation bar items horizontally */
.navBar li {
  display: inline-block;
}

h1 {
    color: white;
}