body {
margin: 0;
padding: 0;
background-color: black;
}

.logo {
font-weight: bold;
color: white;
font-family: 'logoFont';
font-size: 50px;
padding-left: 30px;
}

#active {
color: rgb(161, 161, 0);
}

.navBar {
float: right;
}

.navBar ul {
list-style: none;
margin: 0;
padding: 0;
padding-right: 100px;
}

.navBar li {
display: inline-block;
margin-left: 20px;
}

.navBar a {
text-decoration: none;
color: white;
padding: 14px 16px;
transition: color 0.5s;
font-size: 25px;
font-family: 'navFont';
}

.navBar a:hover {
color: yellow;
transition: color 1s;
}

p {
color: white;
/* Clear the float to move below the navBar */
clear: both;
/* Add some padding to separate it from the navbar */
padding-top: 20px;
font-family: pFont;
}

@font-face {
font-family: 'logoFont';
src: url('fonts/Crudex.ttf') format('truetype');
}

@font-face {
font-family: 'navFont';
src: url('fonts/KOMIKAX_.ttf') format('truetype');
}

@font-face {
    font-family: 'pFont';
    src: url('fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    }